.mask-group-item,
.mask-group1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.mask-group-item {
  width: 100%;
  right: 0;
  background-color: var(--color-darkslategray);
}
.mask-group1 {
  width: 92.11%;
  right: 7.89%;
}
.build-compare1 {
  position: absolute;
  height: 6.42%;
  width: 39.03%;
  top: 38.4%;
  left: 9.58%;
  font-family: var(--font-jockey-one);
  display: inline-block;
}
.we-provide-part1 {
  margin: 0;
}
.tech-forge1,
.we-provide-part-container1 {
  position: absolute;
  height: 24.09%;
  width: 51.13%;
  top: 46.69%;
  left: 9.58%;
  font-size: var(--font-size-17xl);
  color: var(--color-rosybrown);
  display: inline-block;
}
.tech-forge1 {
  height: 14.22%;
  width: 45.82%;
  top: 23.99%;
  left: 8.98%;
  font-size: var(--font-size-109xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-khaki);
}
.image-icon1 {
  position: absolute;
  height: 80.95%;
  width: 52.55%;
  top: 19.05%;
  right: 0;
  bottom: 0;
  left: 47.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-inner {
  position: absolute;
  height: 75.49%;
  width: 79.41%;
  top: 0;
  right: 20.59%;
  bottom: 24.51%;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray);
}
.start-your-build1 {
  font-size: var(--font-size-17xl);
}
.start-your-build-container1 {
  position: absolute;
  height: 96.08%;
  width: 87.61%;
  top: 3.92%;
  left: 12.39%;
  font-weight: 300;
  display: inline-block;
}
.group-icon {
  position: absolute;
  height: 43.14%;
  width: 8.19%;
  top: 14.71%;
  right: 87.51%;
  bottom: 42.16%;
  left: 4.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-group {
  position: absolute;
  height: 10.07%;
  width: 21.03%;
  top: 70.78%;
  right: 69.39%;
  bottom: 19.15%;
  left: 9.58%;
  color: var(--color-black);
  font-family: var(--font-oxanium);
}
.join-the-community1 {
  position: absolute;
  height: 9.08%;
  width: 31.68%;
  top: 58.84%;
  left: 9.58%;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  display: inline-block;
}
.component-11 {
  position: relative;
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-snow);
  font-family: var(--font-nixie-one);
}

