.component-1-child {
  position: absolute;
  height: 100%;
  width: 96.19%;
  top: 0;
  right: 3.81%;
  bottom: 0;
  left: 0;
  background-color: #181515;
}
.pre-builds {
  position: absolute;
  height: 12.41%;
  width: 31.78%;
  top: 9.07%;
  left: 6.23%;
  display: inline-block;
}
.component-1-child1,
.component-1-inner,
.component-1-item,
.rectangle-div {
  position: absolute;
  height: 50.37%;
  width: 19.05%;
  top: 21.48%;
  bottom: 28.15%;
  border-radius: var(--br-9xl);
}
.component-1-item {
  right: 77.18%;
  left: 3.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-1-child1,
.component-1-inner,
.rectangle-div {
  right: 53.86%;
  left: 27.09%;
  background-color: var(--color-gray-100);
}
.component-1-child1,
.rectangle-div {
  right: 7.2%;
  left: 73.75%;
}
.component-1-child1 {
  right: 30.53%;
  left: 50.42%;
}
.group-child {
  position: absolute;
  height: 46.51%;
  width: 46.97%;
  top: 10.08%;
  right: 53.03%;
  bottom: 43.41%;
  left: 0;
  border-radius: 20px;
  background-color: #ded6d6;
}
.next {
  position: absolute;
  height: 100%;
  width: 96.18%;
  top: 0;
  left: 3.82%;
  display: inline-block;
}
.vector-icon {
  position: absolute;
  height: 24.15%;
  width: 15.33%;
  top: 22.63%;
  right: 55.84%;
  bottom: 53.23%;
  left: 28.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent {
  position: absolute;
  height: 11.94%;
  width: 20.68%;
  top: 81.3%;
  right: 0;
  bottom: 6.76%;
  left: 79.32%;
  font-size: 96px;
  color: #302a2a;
  font-family: var(--font-jomhuria);
}
.component-1-child2,
.rectangle-icon {
  position: absolute;
  border-radius: var(--br-mini);
}
.component-1-child2 {
  height: 35.65%;
  width: 16.12%;
  top: 24.17%;
  right: 78.86%;
  bottom: 40.19%;
  left: 5.02%;
  background-color: var(--color-white);
}
.rectangle-icon {
  height: 27.59%;
  width: 9.39%;
  top: 28.24%;
  right: 82.25%;
  bottom: 44.17%;
  left: 8.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-1-child3 {
  right: 8.46%;
  left: 75.42%;
  background-color: var(--color-white);
}
.component-1-child3,
.component-1-child4,
.component-1-child5 {
  position: absolute;
  height: 35.65%;
  width: 16.12%;
  top: 24.17%;
  bottom: 40.19%;
  border-radius: var(--br-mini);
}
.component-1-child4 {
  right: 32.02%;
  left: 51.86%;
  background-color: #fdfdfd;
}
.component-1-child5 {
  right: 55.34%;
  left: 28.53%;
  background-color: var(--color-white);
}
.a2d-4def-99cd-256a151aeb48-1-icon,
.a7fb18ec-7277-4cbd-9a1d-f5c8f2-icon,
.ccf861-b8dd-426e-bab7-8651a56b-icon {
  position: absolute;
  height: 29.63%;
  width: 12.22%;
  top: 26.2%;
  right: 57.3%;
  bottom: 44.17%;
  left: 30.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.a2d-4def-99cd-256a151aeb48-1-icon,
.a7fb18ec-7277-4cbd-9a1d-f5c8f2-icon {
  height: 32.5%;
  width: 7.76%;
  top: 25.74%;
  right: 36.11%;
  bottom: 41.76%;
  left: 56.13%;
}
.a7fb18ec-7277-4cbd-9a1d-f5c8f2-icon {
  height: 27.87%;
  width: 9.29%;
  top: 28.06%;
  right: 12.08%;
  bottom: 44.07%;
  left: 78.62%;
}
.component-1 {
  position: relative;
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: 48px;
  color: var(--color-white);
  font-family: var(--font-k2d);
}
