@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300&family=Josefin+Slab:wght@400;700&family=Rajdhani:wght@300;400;600&family=Teko:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
body{
  background-image: url("Images/2023-03-16-image.jpg");
  position: relative;
  background-size: cover;

}


h1 {
  font-size: 50px;
  line-height: 64px;
  color: rgb(97, 97, 97);
  margin-bottom: 20px; /* Add margin at the bottom to create space */
}

h2 {
  font-size: 100px;
  font-family: 'Teko';
  line-height: 54px;
  color: rgb(164, 141, 237);
  margin-bottom: 10px; /* Add margin at the bottom to create space */
  margin-left: -1px;
  
}
h3{
  color: rgb(255, 255, 255);
}

h4 {
  font-size: 20px;
  color:rgb(239, 200, 244);
  margin-bottom: 15px; /* Add margin at the bottom to create space */
}

h5 {
  font-size: 15px;
  color: rgb(231, 228, 228);
  margin-top: 1px; /* Remove negative margin */
  margin-bottom: 20px; /* Add margin at the bottom to create space */
  margin-left: 2px;
  position: relative;
  display: flex;
  justify-content: space-between;
  
}

h6 {
font-family: cursive;
  font-weight: 700;
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: -5px;
  margin-left: 9px; /* Add margin at the bottom to create space */
}

p {
  font-family: 'katin';
  font-weight: 900;
  font-size: 30px;
  color: #b1b1c6;
  margin-top: -4px;
  margin-bottom: 1px;
  margin-left: 7px;
}



.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  background-color: #000000;
}

img {
    width: 80px;
  height: 10;
    display: flex;
    justify-content: center;
    align-items:center ;
    color: black;
  }
  
/* navbar */
  a {

    align-items: first baseline;
    justify-content: space-between;
    font-size: 25px; 
    font-family: 'Padyakke', serif;
    font-weight: 300;
    text-decoration:none;
    color: rgb(255, 255, 255);
    top: -10px;
  } 
  li a {
    font-family: 'Teko', sans-serif;
  }
 
  

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  0px 50px;
  
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: rgb(164, 141, 237);
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: rgb(178, 194, 237);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* HERo section */
#hero2{
  background-image: url("Images/2023-03-16-image.jpg");
  background-size: cover;
  height: 80vh;
  width: 60%;
  background-position: top 25% right 0%;
}
#hero{
  margin-top: 10%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.btn1 {
  position: relative; /* or absolute */
  top: 20px; /* Adjust the value to move it down */
  left: 10px;
  font-family: 'Teko';
  font-size: 1.2em;
  font-weight: bolder;
  background-color:rgb(55, 55, 55);
  border: none;
  color: white;
  border-radius: 5px;

  padding: 8px 16px;
  display: inline-block;
  text-align: center;
  box-shadow: inset 0 0 0 0 rgb(102, 155, 245);
  transition: ease-out 0.7s; /* Increase the transition duration to make it slower */
}

.btn1:hover {
  box-shadow: inset 300px 0 0 0 rgb(102, 155, 245);
  color: black; /* Change text color to black on hover */
}


.cont
{
  margin-top:222px;
  margin-left: 18px;
  font-size: medium;
  text-decoration: underline;
}
body.product{
  background-image: none;
}

#pageheader{
  
    background-image: url(Images/ktc-opengraph-solutions-gaming-build-or-buy-a-gaming-pc.webp);
    background-color: black;
    height: 40vh;
    width: 100%;
    align-items: center;
    background-size: cover;



}


